@model MyShop.Core.ViewModels.ProductListViewModel
@{
    ViewBag.Title = "Home Page";
}
    
<div class="col-md-2">
    <div style="font-family:'Comic Sans MS'; font-size:60px; margin-top:95px">
        <h1>Products</h1>
    </div>

    <h4>Filter By Category</h4>
    <div class="list-group">
        @Html.ActionLink("All", "Index", null, new { @class = Request["Category"] == null ? "list-group-item active" : "list-group-item" })
        @foreach (var cat in Model.ProductCategories)
        {
            @Html.ActionLink(cat.Category, "Index", new { Category = cat.Category }, new { @class = Request["Category"] == cat.Category ? "list-group-item active" : "list-group-item" })
        }
    </div>
</div>
    <div class="col-md-10">
        <div style="font-family:'Comic Sans MS'; font-size:60px; text-indent:25% ">
            @Html.ActionLink(" mShop", "Index", "Home")
        </div>

            @foreach (var item in Model.Products)
            {
                <div class="col-md-4" style="height:300px;padding:20px;margin:10px;border:solid 2px; border-radius:9px; align-content:center">
                    <div class="col-md-12">
                        <img class="img" style="height: 150px;object-fit: contain; border-radius:20px" src="~/Content/ProductImages/@item.Image" />
                    </div>
                    <div class="col-md-12">
                        <strong>@Html.ActionLink(item.Name, "Details", new { id = item.Id })</strong>
                    </div>
                    <div class="col-md-12" style="color:black">
                        <p>@item.Description</p>
                    </div>
                    <div class="col-md-12">
                        <p>@item.Price</p>
                    </div>
                    <div class="col-md-12" style="background-color:lightgray; border-radius:25px 25px; border:solid thin black ">
                        <a href="@Url.Action("AddToBasket", "Basket", new { Id=item.Id })" class="btn btn-group-justified">Add to Basket</a>
                    </div>
                </div>
            }
        </div>
        <div class="cold-md-12" clearfix />
